<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="switchList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="deviceList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>
	<appSettings>
		<!-- 交换机用户名称 -->
		<add key="switch_username" value="admin"/>
		<!-- 交换机Auth密码 -->
		<add key="switch_auth" value="admin@huawei"/>
		<!-- 交换机Priv密码 -->
		<add key="switch_priv" value="admin@huawei"/>
	</appSettings>
	<!-- 交换机IP列表 -->
	<switchList>
		<add key="switch01" value="172.16.24.1"/>
		<add key="switch02" value="172.16.24.2"/>
	</switchList>
	<!-- 局域网设备列表 -->
	<deviceList>
		<add key="CRSCD-Test" value="172.16.24.208;172.16.24.209;172.16.24.210;172.16.24.211"/>
	</deviceList>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
	</runtime>
</configuration>
