<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="switch_username" value="admin"/>
		<add key="switch_auth" value="admin@huawei"/>
		<add key="switch_priv" value="admin@huawei"/>
		<add key="switch_iplist" value="172.126.24.1"/>
	</appSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
</startup>
</configuration>
