<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="switchList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="deviceList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<appSettings>
		<!-- 交换机用户名称 -->
		<add key="switch_username" value="admin"/>
		<!-- 交换机Auth密码 -->
		<add key="switch_auth" value="admin@huawei"/>
		<!-- 交换机Priv密码 -->
		<add key="switch_priv" value="admin@huawei"/>
	</appSettings>
	<!-- 交换机IP列表 -->
	<switchList>
		<add key="switch01" value="172.126.24.1"/>
		<add key="switch02" value="172.126.24.2"/>
	</switchList>
	<!-- 局域网设备列表 -->
	<deviceList>
		<add key="Host01" value="172.126.24.1;172.126.34.1"/>
		<add key="Host02" value="172.126.24.2;172.126.34.2"/>
		<add key="Host03" value="172.126.24.3;172.126.34.3"/>
		<add key="Host04" value="172.126.24.4;172.126.34.4;172.126.44.4"/>
		<add key="Host05" value="172.126.24.5;172.126.34.5;172.126.44.2;172.126.54.2"/>
	</deviceList>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
	</runtime>
</configuration>
