<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="switchList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="deviceList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="connectionList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="LanMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<appSettings>
		<!-- 是否启用交换机监视功能 -->
		<add key="switch_enable" value="true"/>
		<!-- 是否启用交换机PING功能 -->
		<add key="switch_ping" value="true"/>
		<!-- 交换机用户名称 -->
		<add key="switch_username" value="adminnms02"/>
	</appSettings>
	<!-- 交换机IP列表 -->
	<switchList>
		<add key="Switch01" value="172.16.24.1"/>
		<add key="Switch02" value="172.16.24.2"/>
	</switchList>
	<!-- 局域网设备列表 -->
	<deviceList>
		<add key="CRSCD-Test" value="172.16.24.208;172.16.24.209"/>
		<add key="CRSCD-HostA" value="172.16.24.74|00:0E:0C:5A:FE:D6;172.16.24.74|00:0E:0C:5A:FE:D7"/>
		<add key="CRSCD-HostB" value="172.16.24.75"/>
		<add key="TWSVR-A" value="172.16.24.90"/>
		<add key="TWSVR-B" value="172.16.24.82"/>
	</deviceList>
	<!-- 交换机互联列表 -->
	<connectionList>
		<add key="conn-A" value="Switch01;Switch02"/>
	</connectionList>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
	</runtime>
 <userSettings>
  <LanMonitor.Properties.Settings>
   <setting name="Top" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Left" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Width" serializeAs="String">
    <value>1280</value>
   </setting>
   <setting name="Height" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
  </LanMonitor.Properties.Settings>
 </userSettings>
</configuration>
